<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Project</a>
            <div class="collapse navbar-collapse" .id="navbarAltMarkup">
                <div class="navbar-nav ml-5">
                    <a class="nav-item nav-link active ml-4 mr-4" href="#">Account</a>
                    <a class="nav-item nav-link ml-4 mr-4" href="#">Account Manager</a>
                    <a class="nav-item nav-link ml-4 mr-4" href="#">Experiment Manager</a>
                    <a class="nav-item nav-link ml-4 mr-4" href="#">Experiment Dashboard</a>
                    <a class="nav-item nav-link ml-4 mr-4" href="#">Questionnaire Dashboard</a>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
</body>
</html>
