<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: transparent;
        }

        .profile-form {
            min-height: 500px;
        }

        .navbar-custom {
            background-color: rgb(67,101,226);
        }

        .navbar-text {
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-custom">

            @*<a class="navbar-brand navbar-text" href="co-researcher">Project</a>*@
            <img href="co-researcher" src="/images/uniLogo.png" alt="University of Dundee" />
            <div class="collapse navbar-collapse" .id="navbarAltMarkup">
                <div class="navbar-nav ml-5">
                    <a class="nav-item nav-link navbar-text" asp-area="" asp-page="/AccountManager">Back</a>
                </div>
            </div>
        </nav>
    </header>

   

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CourseworkAC31007Agile - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
