<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-color: transparent;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="AccountManager">Project</a>
            <div class="collapse navbar-collapse" .id="navbarAltMarkup">
                <div class="navbar-nav ml-5">
                    <a class="nav-item nav-link ml-4 mr-4" asp-area="" asp-page="/ExperimentManager">Experiment Manager</a>
                    <a class="nav-item nav-link ml-4 mr-4" asp-area="" asp-page="/ExperimentDashboard">Experiment Dashboard</a>
                    <a class="nav-item nav-link ml-4 mr-4" asp-area="" asp-page="/questionnaireManagment">Questionnaire Dashboard</a>
                </div>
            </div>
        </nav>
    </header>


    @RenderBody();

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CourseworkAC31007Agile - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
