@page
@model CourseworkAC31007Agile.Pages.AddAccountModel
@{
}

@{
    Layout = "_LayoutAccountActions";
}

<style>
    .profile-form {
        width: 1100px;
        margin: 25px auto;
    }

        .profile-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
            border-radius: 30px;
        }

        .profile-form h2 {
            margin: 0 0 15px;
        }

    .profile-control, .btn {
        min-height: 38px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
        border-radius: 20px;
        width: 150px;
    }

    .inputbox{
        max-width: 400px;
    }

</style>

<div class="profile-form">
    <form method="post">
        <div class="container">
            <div class="profile-form">
                <h2 class="text-center">Add Account:</h2>
                <label>Username: </label>
                <input type="text" class="form-control inputbox" placeholder="Username" required="required" asp-for="Username">
                <br />
                <label>Password: </label>
                <input type="text" class="form-control inputbox" placeholder="Username" required="required" asp-for="Password">
                <br />
                <label>Name: </label>
                <input type="text" class="form-control inputbox" placeholder="Username" required="required" asp-for="Name">
                <br />
                <label>Position: </label>
                <input type="text" class="form-control inputbox" placeholder="Username" required="required" asp-for="Position">
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                </div>

            </div>
        </div>
    </form>
</div>