@page
@model CourseworkAC31007Agile.Pages.co_researcherModel
@{
}
@{
    ViewData["Title"] = "Co-Researcher";
}

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <a href="questionnaireManagment.cshtml" class="btn btn-primary btn-lg">Manage Questionnaire</a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-primary btn-lg">See Experiment Data</a>
            </div>
        </div>
    </div>
</div>