
@page
@using System.Text.Json
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using CourseworkAC31007Agile
@model CourseworkAC31007Agile.Pages.createQuestionnaireModel

<div class="container">
    <component type="typeof(QuestionaireBuilder)" render-mode="Static" />

    @section Scripts {
        <script src="_framework/blazor.server.js"></script>
    }
</div>

