@page
@model CourseworkAC31007Agile.Pages.EthicsPageModel
@{
}
@{
    Layout = "_EthicsLayout";
}

<style>
    .profile-form {
        width: 1100px;
        margin: 25px auto;
    }

        .profile-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
            border-radius: 30px;
        }

        .profile-form h2 {
            margin: 0 0 15px;
        }

    .profile-control, .btn {
        min-height: 38px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
        border-radius: 20px;
        width: 150px;
    }
</style>

<div class="profile-form">
    <form>
        <div class="container">
            <div class="profile-form">
                <p>All research involving human participants, their tissue or data requires approval by a research ethics committee.</p>
                <p>Research ethics is important in order to:</p>
                <p>Protect participants and researchers from harm</p>
                <p>Preserve the rights and dignity of participants</p>
                <p">Create a culture of mutual respect and trust between participants and researchers</">
                <p>Provide reassurance to the participants, wider public and funders regarding the ethical conduct of research</p>
                <p>Maintain the integrity and reputation of the researchers and host institution(s)</p>
                <p>The ethical review and approval of non-clinical research involving human participants proposed by staff and students is overseen by six School Research Ethics Committees (SRECs).</p>
                <p>The policies and and Standard Operating Procedures (SOPs) governing clinical and clinically-related research are managed by the Tayside Medical Science Centre (TASC). TASC combines the research management services of the University and NHS Tayside and can provide advice on the appropriate ethics approval route and other permissions required (contact the TASC Research Governance Office: TASCgovernance@dundee.ac.uk).</p>
            </div>
        </div>
    </form>
</div>