@page
@model CourseworkAC31007Agile.Pages.rxportRestultsModel
@{
}
@{
    ViewData["Title"] = "Export Questionnaire Data";
}

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <a href="#" class="btn btn-primary btn-lg">Export to database</a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-primary btn-lg">Export by email</a>
            </div>
        </div>
    </div>
</div>