@page
@model CourseworkAC31007Agile.Pages.rxportRestultsModel
@{
}
@{
    ViewData["Title"] = "Export Questionnaire Data";
}

@{
    Layout = "_Layout";
}

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Questionnaire Data to Export
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Questionnaire 1</a>
        <a class="dropdown-item" href="#">Questionnaire 2</a>
        <a class="dropdown-item" href="#">Questionnaire 3</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <a href="#" class="btn btn-primary btn-lg">Export to database</a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-primary btn-lg">Export by email</a>
            </div>
        </div>
    </div>
</div>