@page
@using CourseworkAC31007Agile.Pages
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session;
@inject IHttpContextAccessor HttpContextAccessor
@model CourseworkAC31007Agile.Pages.RemoveAccountModel
@{
    Layout = "_LayoutAccountActions";
}

<style>
    .profile-form {
        width: 1100px;
        height: 150px;
        margin: 25px auto;
    }

        .profile-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
            border-radius: 30px;
            height: 150px;
        }

        .profile-form h2 {
            margin: 0 0 15px;
        }

    .profile-control, .btn {
        min-height: 38px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
        border-radius: 20px;
        width: 150px;
    }

    .inputbox {
        max-width: 400px;
    }

    .margin {
        margin-left: 370px;
    }
</style>

<div class="profile-form">
    <form method="post">
        <div class="container">
            <div class="profile-form">
                <h2 class="text-center">Please confirm permanent removal of account: @HttpContextAccessor.HttpContext.Session.GetString("targetUsername")</h2>
                <form method="POST">
                    <button type="submit" class="btn btn-outline-success mb-1 margin" asp-route-data="confirm" asp-page-handler="AccountAction">Confirm</button>
                    <button type="submit" class="btn btn-outline-warning mb-1" asp-route-data="cancel" asp-page-handler="AccountAction">Cancel</button>
                </form>
            </div>
        </div>
    </form>
</div>