@page
@model CourseworkAC31007Agile.Pages.shareQuestionnaireModel
@{
}
@{
    ViewData["Title"] = "Share Questionnaire";
}

@{
    Layout = "_Layout";
}

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Questionnaire to Share
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Questionnaire 1</a>
        <a class="dropdown-item" href="#">Questionnaire 2</a>
        <a class="dropdown-item" href="#">Questionnaire 3</a>
    </div>
</div>

<a href="#" type="button" class="btn btn-primary btn-lg btn-block">Share by Email</a>